@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=IBM+Plex+Sans+Arabic:wght@300&family=Karantina:wght@300&family=Philosopher:ital,wght@1,700&family=Red+Hat+Display:wght@300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
ul{
  list-style-type: none;
  text-align: right;
}

ul li{
  margin-top: 20px;
  text-align: right;
}

ul li a{
  text-decoration: none;
  color: #1E1E1E  ;
}

.font {
  font-family: IBM Plex Sans Arabic;
  font-size: 14px;
  font-weight: bolder;
  line-height: 20px;
  letter-spacing: 0em;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "slnt"0;
}



.bottomBorder {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomBorder div {
  margin-right: 5px;
  margin-top: -85px;
  border-radius: 10px;
  height: 5px;
  background-color: var(--second-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bottomBorder div:nth-child(1) {
  width: 40%;
}

.bottomBorder div:nth-child(2) {
  width: 5%;

}

.bottomBorder div:nth-child(3) {
  width: 5%;

}

:root {
  --main-color: #1E1E1E;
  ;
  --Third-color: #989494;
  ;
  --second-color: #2B49FF;
}


/**Style Navbar */
.navbar {
  --bs-navbar-padding-y: 1px !important;
}

.me-auto .nav-link:hover {
  border-bottom: 2px solid blue;
}

/**Style Navbar */



/**Style Main */
p {
  color: var(--main-color) !important;
}

h3 {
  color: var(--second-color) !important;
  font-size: 50px !important;
  font-weight: 900 !important;
}

span {
  color: var(--Third-color);
}

#info {
  font-size: 30px;
}

.booking {
  background-color: #1E1E1E !important;
  color: white !important;
}

.imgMain {
  text-align: left;
}

/**Style Main */



/* Style advantage */
.advantage {
  margin-top: 180px !important;
}

.recommend {
  background-color: #F2F7FF;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.second {
  background-color: #FEE6E6;
}

.third {
  background-color: #ECE4FD;
}

/* Style advantage */


/*** exploreCity */
.exploreCity {
  margin-top: 250px;
}

/*** exploreCity */
/* Service */
.titleService {
  text-align: center;
  /* border-bottom: 2px solid var(--second-color); */
  width: 20%;
  margin-top: 250px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.cardService {
  width: 60% !important;
  border-radius: 10px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: auto;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  height: 40vh !important;
}

#title, #titleAbout {
  font-family: IBM Plex Sans Arabic;
  font-size: 24px;
  font-weight: 700;
  line-height: 44.98px;
  text-align: center;

}



/* About */
.about {
  margin-top: 180px;
  background-color: #F4F6FF;
}

.titleAbout {
  text-align: right !important;
  font-size: 36px;
  font-weight: 700;
  line-height: 67.46px;
  text-align: center;
}

.aboutUs {
  color: var(--second-color) !important;
}

/* About */




/* Service */


/* Tour */
.cardTour {
  width: 60% !important;
  border-radius: 10px;
  /* padding: 3px; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: auto;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  height: 60vh !important;
}

/* Tour */


/* download */
.download{
  margin-top: 180px;
  text-align: center;
  background-color: #F4F6FF;
  padding:30px !important;
  position: relative;
}

.fav{
  position: absolute;
  top:5%;
  left:20%
}
.likeDiv{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--second-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* download */

/**comments */
.commentTitle{
  color: black !important;
}



.cardComment{
  height: 45vh;
  width: 100%;
  position: relative;
}

.child {
  position: absolute;
  text-align: right;
}

#first {
  z-index: 1;
  top: 10px;
  left: 15px;
  height: 45vh;
  background-color: var(--second-color);
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-top-right-radius: 120px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 10px;
  width: 100%;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  -o-transform: rotate(200deg);
}

#second {
  z-index: 5;
  background-color: white;
  top: 10px;
  left: 15px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  height: 45vh;
}


.comments .swiper-button-prev{
  color: black !important;
  background-color: white;
  padding: 20px;
  width:80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.comments .swiper-button-next{
  color: black !important;
  background-color: white;
  padding: 20px;
  width:80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/**comments */



/* Footer */
.footer{
  margin-top: 180px;
  background-color: #F4F6FF;
  padding: 40px 0px;
}
/* Footer */



@media (max-width: 768px) {
  .imgMain {
    text-align: center !important;
  }

  .exploreCity {
    margin-top: 80px !important;
  }
  #first {
    z-index: 1;
    top: 10px;
    left: 15px;
    height: 45vh;
    background-color: var(--second-color);
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
  
  #second {
    z-index: 5;
    background-color: white;
    top: 10px;
    left: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: 46vh;
  }
  .cardService {
    width: 60% !important;
    border-radius: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: auto;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: 50vh !important;
  }
  .cardTour {
    width: 65% !important;
    border-radius: 10px;
    /* padding: 3px; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: auto;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: 60vh !important;
  }
}




